main {
    width: auto;
    height: auto;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    background: url(img/header@2x.png) no-repeat;
    background-size: cover;
    background-color: #622AFF;
    opacity: 4;
}

.titan-math {
    color: aliceblue;
    font: normal normal 600 25px/23px Poppins;
}

.bottom-screen {
    background-color: white;
    border-radius: 30px 30px 0 0;
}

.div-titan {
    padding-bottom: 100px;
    height: 180px;
}

.titan {
    width: 260px;
}

.bottom-screen {
    justify-content: center;
    text-align: center;
    height: 40vh;
}

.boton-comienzo-batalla {
    height: 4rem;
    width: 16rem;
    background-color: #622AFF;    
    border-radius: 20px;
    border-color: #622AFF;
}

.enlace-unirse{
    color: aliceblue;
    text-decoration: none;
}
.enlace-unirse:hover{
    color: rgb(240, 245, 255);
    text-decoration: none;
}

.text-morado{
    color: #622AFF;
}
.color-gris{
    color: #717171;
}

.strellas{
    text-decoration: none;
    color: #FF9900;
}

.estrella-gris{
    text-decoration: none;
    color:#C1C1C1;
}