:root {

    --purpleDark:#5B42C5;
    --purpleLight:#622AFF;
    --greenDark:#00816D;
    --greenLight:#37CE6E;
    --blackText:#4A4A4A;
    --grayText:#717171;
    --gradientBlue:transparent linear-gradient(0deg, #0080FF 0%, #5DAEFF 100%) 0% 0% no-repeat padding-box;
    --box-shadow:0px 5px 5px #00000036;
  }


body {
    font-family: 'Poppins', sans-serif;
    margin:0;
    padding:0;
    box-sizing: border-box;
    background: url(/public/img/header@2x.png) no-repeat 0 50%;
    background-size:cover;
    background-color:var(--purpleLight);
}

.bottom-screen{
    background-color: white;
    border-radius: 30px 30px 0 0; 
}

.title-page{
    color:white;
    font-weight: 700;
    font-size:35px;
    text-shadow: 0px 3px 20px var(--blackText);
}

.title{
    width: 350px;
}

.life-titan{
    width: 500px;
}

.progress{
    width: 290px;
    height: 33px;
}

.bg-progress-bar{
    background-color:var(--greenLight);
    border: 1px solid var(--greenDark);
}
.number-point{
    font-size:2em;
    font-weight: 700;
    color:white;
    line-height:1;
}
.text-life-titan{
    font-size:20px;
    color:white;
    font-weight: 700;
}

.div-titan{
    height: 300px;
}
.titan{
    width: 332px;
}
.bottom-screen{
 padding: 3em;
}

.contenido{
    width: 900px;
}

.users{
    margin-top:3em;
}

.question{
    font-size: 25px;
    font-weight: 700;
    color:var(--purpleLight);
}

.purple{
    color:var(--purpleLight);
}

.img-av{
    width:120px;
}
.btn-question{
    border: 3px solid var(--purpleLight);
    background-color: var(--purpleDark);
    border-radius: 15px;
    height: 80px;
    color:white;
    font-size:39px;
    font-weight:700;
}
.btn-question:hover{
    border: 3px solid var(--purpleLight);
    background-color: var(--purpleDark);

}

.avatar-name{
    margin-top:5px;
    font-weight: 500;
    font-size: 16px;
}

.btn-answer{
    height: 80px;
    background: transparent linear-gradient(0deg, #0080FF 0%, #5DAEFF 100%) 0% 0% no-repeat padding-box;
    border-radius:10px;
    box-shadow:var(--box-shadow);
    color:white;
    width: 200px;
    font-size:32px;
    font-weight:700;
    border:none;
}
.queue{
    margin-top:3em;
    margin-bottom:3em;
}


