.div-tu-nomnbre {
    padding-top: 60%;
}

.input-name {
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-29)/var(--unnamed-line-spacing-43) var(--unnamed-font-family-poppins);
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    border: 3px solid var(--unnamed-color-00b89b);
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 3px solid #00B89B;
    border-radius: 10px;
    opacity: 1;
    height: 3rem;
    width: 15rem;
}

.h3-nombre {
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-29)/var(--unnamed-line-spacing-43) var(--unnamed-font-family-poppins);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-00b89b);
    font: normal normal bold 29px/43px Poppins;
    letter-spacing: 0px;
    color: #00B89B;
    opacity: 1;
}

.div-boton-continuar{
    text-align: center;
    padding-top: 60%;
}
.btn-continuar {
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-600) 33px/50px var(--unnamed-font-family-poppins);
    letter-spacing: var(--unnamed-character-spacing-0);
    font: normal normal 600 33px/50px Poppins;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    background-color: #B398FF;
    border-radius: 15px;
    border: #B398FF;
    
}